body {
    height: 100vh;
}
* {
   margin: 0;
   padding: 0;
}
hr {
  width: 80%; color: black; height: 1px; background-color:black;
}
.title {
    color: #FBB040;
}
.main {
  margin-left: 400px;
  background: white;
}
.middle-content {
	position: relative;
	top: 25%;
}
.div-pagination {
	text-align: center;
  display: block;
    
    .page-numbers {
    	color: white;
	    background-color: #FBB040;
	    padding: 10px;
    }
}