body{
   background-color: #F1F2F2;
}
.main {
  margin-left: 300px;
  background: white;
}
.middle-content {
	position: relative;
	top: 25%;
}
.div-pagination {
	text-align: center;
  display: block;
    
    .page-numbers {
    	color: white;
	    background-color: black;
	    padding: 10px;
    }
}
hr {
  width: 80%; color: black; height: 1px; background-color:black;
}