#contact-page {
	$green: #50c56c;
	$blue: #4ec4ce;
	$purple: red;

	@mixin gradient-border($color1, $color2, $border-width, $direction) {
	  border: none;
	  background-repeat: no-repeat;
	  background-image: linear-gradient(#{$direction}, $color1 0%, $color2 100%), linear-gradient(#{$direction}, $color1 0%, $color2 100%);
	  @if $direction == 'to right' or $direction == 'to left' {
	    @if $direction == 'to right' {
	      border-left: $border-width solid $color1;
	      border-right: $border-width solid $color2;
	    } @else {
	      border-left: $border-width solid $color2;
	      border-right: $border-width solid $color1;
	    }
	    background-position: 0 0, 0 100%;
	    background-size: 100% $border-width;
	  }
	  
	  @if $direction == 'to top' or $direction == 'to bottom' {
	    @if $direction == 'to top' {
	      border-top: $border-width solid $color2;
	      border-bottom: $border-width solid $color1;
	    } @else {
	      border-top: $border-width solid $color1;
	      border-bottom: $border-width solid $color2;
	    }
	    background-position: 0 0, 100% 0;
	    background-size: $border-width 100%;
	  }
	}
	
	.btn-chat-whats {
		color: white;
	    background-color: #25d366;
	    padding: 15px;
	    border-radius: 35px;
	    border: 1px solid #25d366;
	}

	.btn-chat-whats:hover {
		color: #25d366;
	    background-color: transparent;
	    border: 1px solid #25d366;
	}

	.btn-form {
		@include gradient-border($green, $blue, 3px, 'to right');
		background-color: transparent;
	    padding: 10px 50px 10px 50px;
	    color: #939393;
	    font-size: 20px;
	    font-weight: bold;
	    width: 200px;
	}

	.btn-form:hover {
		color: white;
		background-repeat: repeat;
    	background-image: linear-gradient(to right, $green 0%, $blue 100%);
	}

	input, textarea {
		font-size: 2.5vh;
		border: 0px;
		border-bottom: 1px solid #d3d3d3;
		color: black;
		padding: 10px;
		width: 50%;
	}

	textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
	   color: transparent;
	}

	textarea:focus:-moz-placeholder, input:focus:-moz-placeholder { /* Firefox 18- */
	   color: transparent;  
	}

	textarea:focus::-moz-placeholder, input:focus::-moz-placeholder {  /* Firefox 19+ */
	   color: transparent;  
	}

	textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {  
	   color: transparent;  
	}

	::-webkit-input-placeholder {
	   color: black;
	   font-weight: bold;
	   padding: 5px;
	}

	:-moz-placeholder {
	   color: black;
	   font-weight: bold;
	   padding: 5px;
	}

	::-moz-placeholder {
	   color: black;
	   font-weight: bold;  
	   padding: 5px;
	}

	:-ms-input-placeholder {  
	   color: black;
	   font-weight: bold;  
	   padding: 5px;
	}

	@media screen and (max-width: 920px) {
	  	input, textarea {
			width: 80%;
		}
	}
}