#lightbox {
	position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    display: none;

    .content-lightbox {
        position: relative;
        height: 85vh;
    }
    #lightbox-img {
        max-height: 100% !important;
    }
    @media screen and (min-width: 992px) {
  		#lightbox-img {
    		max-height: 85vh;
    	}
	}
}