#lightbox {
	position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    display: none;

    #lightbox-img {
    	max-height: 50vh;
    }
    @media screen and (min-width: 992px) {
  		#lightbox-img {
    		max-height: 75vh;
    	}
	}
}