.list {
	.grid {
		height: 40vh;
	}
	.img-wraper {
		background-size: cover;
		background-position: top;
		transition: box-shadow 0.6s linear;
  		margin: 0.5em;

		.obj-title {
			position: relative;
			top: 30%;
			color: white;
			font-weight: bold;
			display: none;
		}
	}

	a:hover {
		.obj-title {
			display: block;
		}
		.img-wraper {
			background-blend-mode: overlay;
			background-color: rgba(0,0,0,0.5);
			box-shadow: 0px 0px 0px 8px darkgrey;
		}
	}
}
