.page {

	.wpcf7 {
		p {
			text-align: center;
		}
	}
	
	.img-about {
		height: 100vh;
		width: auto;
		max-width: 100%;
	}

	.pt-about {
		padding-top: 10rem;
	}

	@media screen and (max-width: 700px) {
		
		.img-about {
			height: auto;
			width: 100%;
		}
		.pt-about {
			padding-top: 0rem;
		}
	}
}