#service-page {
	height: 100vh;

	h3 {
		color: rgb(78,196,206);
	}
	.grey-bg {
		background-color: rgb(241,242,242);
	}

	.h-15 {
		height: 15%;
	}

	.h-85 {
		height: 85%;
	}

	.footer-block.text-right {
		position: relative;

		img {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	.p-xl-5 {
		padding-left: 5rem !important;
		padding-right: 5rem !important
	}

	.text-middle {
		h3{
			position: relative;
			top: 25%;
		}

		p{
			position: relative;
			top: 25%;
		}
	}

	.img-site {
		position: absolute;
		width: 30vw;
		height: auto;
	}

	@media screen and (max-width: 1599px) {
		.img-fluid {
			height: auto;
			max-width: 100%;
		}

		.img-site {
			position: relative;
			max-height: 100%;
			width: auto;
			max-width: 100%;
		}
	}
}
