
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    background-color: #f0f4f4;
}

.img-icone {
  max-width: 60%;
  height: auto;
}

.sidebar ul li {
  list-style-type: none;

  a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  a:hover {
    color: black;
  }
}

#sidebar-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
  }
  .sidebar a {float: left;}
  .main {margin-left: 0;}
  #sidebar-footer {
    position: relative;
    width: 100vw;
  }

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}